<head>
  <meta charset='utf-8'>
  <meta name="author" content="xxthermidorxx">
  <meta name="description" content="{{ site.description }}">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <!-- MathJax -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ],
        processEscapes: true
      }
    });
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </script>
  <!-- boostrap -->
  <link rel="stylesheet" type="text/css" href="{{ site.bootstrap_path }}/css/bootstrap.min.css">
  <script src="{{ site.asset_path }}/js/jquery-2.1.4.min.js"></script>
  <script src="{{ site.bootstrap_path }}/js/bootstrap.min.js"></script>
  <!-- github.io default -->
  <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/github-dark.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/print.css" media="print">
  <!-- My customized css -->
  <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/main.css" media="screen">
  <!-- RSS -->
  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{{ page.title }} - {{ site.name }}</title>
</head>
