<header>
  <h1><a href="/">Mother Earth, Father Sky and I</a></h1>
</header>
<nav class="navbar navbar-default" role="navigation">
  <ul id="main-navigation" class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/archives">Archives</a></li> -->
    <li><a href="/profile">Profile</a></li>
    <li>
      <a href="https://github.com/xxthermidorxx"><span>View on GitHub</span></a>
    </li>
  </ul>
</nav>
<!--
<section id="downloads" class="clearfix">
  <a href="https://github.com/xxthermidorxx" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
-->
