header a {
  color: #778899;
  text-decoration: none;
}

.slides table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.slides th {
  background-color: #eee;
  border: 1px solid;
}

.slides td {
  border: 1px solid;
}
