header h1 {
  text-align: center;
}

header h1 a {
  color: #778899;
  text-decoration: none;
}

.posts {
  padding: 0px 20px;
}

.posts h1 {
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}

.posts h2 {
  border-bottom: solid 1px #808080;
}

.posts hr {
  border-top: dashed 1px #708090;
}

.posts ul, ol {
  padding-left: 40px;
}

.posts .post-img img{
  display: block;
  padding: 10px 0px;
  margin: auto;
}

.slides table {
  /* margin-top: 30px; */
  margin-bottom: 30px;
}

.slides th {
  background-color: #eee;
  border: 1px solid;
}

.slides td {
  border: 1px solid;
}
