<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="author" content="Yusuke Nishioka">
    <meta name="description" content="My blog posts, profile and past works">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <!-- boostrap -->
    <link rel="stylesheet" type="text/css" href="{{ site.bootstrap_path }}/css/bootstrap.min.css">
    <script src="{{ site.asset_path }}/js/jquery-2.1.4.min.js"></script>
    <script src="{{ site.bootstrap_path }}/js/bootstrap.min.js"></script>
    <!-- github.io default -->
    <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/print.css" media="print">
    <!-- my custom -->
    <link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/main.css" media="screen">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }} - {{ site.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
