<!DOCTYPE html>
<html lang="en">
  {% include head_default.html %}
  <body>
    <div id="container">
      <div class="inner">
        {% include header.html %}
        <section id="main_content">
          <div class="post-item">
            {% include post_header.html page_obj=page %}
            <div class="post-content">
              {% include social.html %}
              {{ content }}
              {% include social.html %}
            </div>
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
