<!DOCTYPE html>
<html lang="en">
  {% include head_slide.html %}
  <body>
    <div class="reveal">
      <div class="slides">
        <pre style="display:none"><code></code></pre>
        <section data-markdown="" data-separator="^\n---$" data-separator-vertical="^\n>>>$">
          <script type="text/template">
            {{ page.content }}
          </script>
        </section>
      </div>
    </div>
    <script src="{{ site.reveal_js_path }}/lib/js/head.min.js"></script>
    <script src="{{ site.reveal_js_path }}/js/reveal.js"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide', // none/fade/slide/convex/concave/zoom
        math: {
            mathjax: 'https://cdn.mathjax.org/mathjax/latest/MathJax.js',
            config: 'TeX-AMS_HTML-full'
        },
        // Optional reveal.js plugins
        dependencies: [
          // cross-browser shim that fully implements classList
          {
            src: '{{ site.reveal_js_path }}/lib/js/classList.js',
            condition: function() { return !document.body.classList; }
          },
          // interpret Markdown in <section> elements
          {
            src: '{{ site.reveal_js_path }}/plugin/markdown/marked.js',
            condition: function() {
              return !!document.querySelector( '[data-markdown]' );
            }
          },
          {
            src: '{{ site.reveal_js_path }}/plugin/markdown/markdown.js',
            condition: function() {
              return !!document.querySelector( '[data-markdown]' );
            }
          },
          // syntax highlight for <code> elements
          {
            src: '{{ site.reveal_js_path }}/plugin/highlight/highlight.js',
            async: true,
            condition: function() {
              return !!document.querySelector( 'pre code' );
            },
            callback: function() { hljs.initHighlightingOnLoad(); }
          },
          // zoom in and out with Alt+click
          {
            src: '{{ site.reveal_js_path }}/plugin/zoom-js/zoom.js',
            async: true
          },
          // speaker notes
          {
            src: '{{ site.reveal_js_path }}/plugin/notes/notes.js',
            async: true
          },
          // MathJax
          {
            src: '{{ site.reveal_js_path }}/plugin/math/math.js',
            async: true
          }
        ]
      });
    </script>
  </body>
</html>
